body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  font-family: Hind, Source Sans Pro, sans-serif;
  background-color: white; }

.header {
  width: 100%;
  height: 750px;
  background: url(../img/m-h-day.jpg) no-repeat center;
  border-bottom-right-radius: 30%; }
  .header .header-wrap {
    padding: 2% 0 10% 10%;
    float: left;
    width: 50%;
    color: #1E2D31; }
    .header .header-wrap .landing-logo {
      display: inline-block;
      text-align: left; }
      .header .header-wrap .landing-logo p {
        float: right;
        margin: 10px 10px 0 10px;
        font-weight: 700;
        width: 65px;
        font-size: 25px;
        line-height: 15px; }
        .header .header-wrap .landing-logo p span {
          letter-spacing: normal;
          font-size: 10px;
          display: inline-block;
          padding-left: 10px;
          margin-top: 0; }

.header_heading {
  font-weight: bold;
  font-size: 50px;
  max-width: 400px;
  line-height: 50px;
  position: relative;
  z-index: 2; }

.header_heading::before {
  content: '';
  display: block;
  background: #417ca3;
  position: absolute;
  height: 20px;
  width: 210px;
  left: 0;
  bottom: 0;
  z-index: -1; }

.header_title,
.section_title {
  display: block;
  z-index: 2;
  position: relative; }

p.header_text {
  max-width: 500px; }

.header_button, .section_banner .section_banner_button {
  color: #fff;
  margin-top: 30px;
  padding: 15px 45px;
  border: 0 solid #699904;
  background-color: #699904;
  border-radius: 4px; }

.header_button:hover, .section_banner .section_banner_button:hover {
  background-color: #5f8a03;
  transition-duration: .8s; }

.section {
  margin-top: 8px;
  text-align: center;
  z-index: 1; }
  .section .section_text {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #1E2D31;
    position: relative;
    display: inline-block;
    line-height: 30px;
    z-index: 2; }
  .section .section_text::before {
    content: '';
    display: block;
    background: #417ca3;
    position: absolute;
    height: 20px;
    width: 190px;
    bottom: 0;
    right: 0;
    z-index: -1; }
  .section .section_card_wrap {
    display: flex;
    align-content: center;
    margin: 0 15%; }
  .section .section_card {
    width: 50%;
    height: 350px;
    padding: 20px;
    margin-right: 2%;
    text-align: center;
    border-radius: 4px;
    background-color: #232531; }
    .section .section_card .section_card_heading {
      color: #fff;
      font-size: 20px;
      padding: 0;
      max-width: 100%;
      line-height: 0;
      font-weight: bold;
      border-bottom: 18px solid #417ca3;
      display: inline-block;
      margin-bottom: 5px; }
    .section .section_card .section_card_text {
      color: #fff;
      font-size: 12px;
      padding: 0;
      line-height: 1.5; }

.section_card img {
  display: block;
  margin: auto;
  width: 100%; }

.section_banner {
  height: 125px;
  background: linear-gradient(to right, #6b9b05, #2f5397);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  margin: 10% 0 0 25%;
  padding: 5px 10px 10px 80px;
  position: relative; }
  .section_banner .section_banner_button {
    margin: 0 50px 0 0; }
  .section_banner .section_banner_wrap {
    margin: 0 0 0 50px;
    line-height: 0.5; }
  .section_banner .section_banner_heading {
    font-weight: bold;
    font-size: 30px;
    line-height: 5%;
    color: #1E2D31;
    position: relative;
    z-index: 2; }
  .section_banner .section_banner_heading::before {
    content: '';
    display: block;
    background: #417ca3;
    position: absolute;
    height: 12px;
    width: 63px;
    bottom: -10px;
    left: 125px;
    z-index: -1; }
  .section_banner .section_banner_text {
    color: #c3c4c1; }
    .section_banner .section_banner_text .section_banner_text::after {
      content: '';
      display: block;
      background: #417ca3;
      position: absolute;
      height: 10px;
      width: 8%;
      top: 42%;
      left: 22%; }

.section_banner_text {
  position: relative;
  z-index: 2; }

.footer {
  height: 200px;
  background-color: #232531;
  margin-top: -70px;
  color: #fff; }
  .footer .footer-wrap {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    padding-top: 75px; }
  .footer .footer_text {
    width: 375px;
    color: #fff; }
  .footer .footer_logo p {
    float: right;
    margin: 5px 10px;
    font-weight: 600;
    width: 63px;
    letter-spacing: 2px;
    color: #fff; }
    .footer .footer_logo p span {
      letter-spacing: normal;
      font-size: 8px;
      display: inline-block;
      padding-left: 6px; }
