/* HEADER  Line */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 20px 60px;
  min-width: 800px;
  background-image: url(../img/sample2.jpg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 40rem;
}

.header {
  color: white;
}

.header-line-left {
  float: left;
  font-weight: bold;
  font-size: 14px;
}

.header-wrap {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 14px;
}

.header-wrap a {
  text-decoration: none;
  color: white;
}

.header-line-right1 {
  margin-right: 60px;
}

.header-bg:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

/* HEADER title */

.header-main {
  text-align: center;
  margin-top: 100px;
  line-height: 2px;
}
.header-title {
  font-size: 40px;
  letter-spacing: 5px;
}
.header-description {
  font-size: 14px;
}
.header-main span {
  font-size: 70px;
}

/* Navigation*/

.header-nav {
  text-align: center;
  margin-top: 80px;
}
.header-nav a {
  text-decoration: none;
  color: white;
  padding: 15px 80px;
  margin: 0 50px;
  border: 2px solid white;
}
.header-nav a:hover {
  background-color: rgb(189, 188, 188);
  transition-duration: 0.8s;
}

/* Header Text */

.header-text {
  width: 100%;
  margin: 80px 0;
  padding-left: 10px;
  padding-right: 10px;
}
.header-text-left {
  margin-top: 130px;
  width: 50%;
  float: left;
  color: black;
}
.header-text-right {
  width: 50%;
  float: right;
}

.header-text {
  background: #000;
  background: linear-gradient(7deg, transparent 50%, #000 0);
  margin-left: -60px;
  margin-right: -60px;
  width: auto;
  position: relative;
  top: 27vw;
  height: 300px;
  z-index: -1;
}
/* НЕ РАБОТАЕТ!!! */

.info {
  width: 100%;
  margin-top: 250px;
  padding: 30px;
  background-color: rgb(243, 243, 243);
}

.info-title {
  font-size: 24px;
  text-align: center;
  color: black;
}

.info-title span {
  font-weight: bold;
}

.info-wrap {
  display: flex;
}

.info img {
  width: 100%;
}

.info-img {
  position: relative;
}

.info-text-left,
.info-text-right {
  text-align: center;
}

.info-left {
  width: 50%;
}

.info-right {
  width: 50%;
}
.info-text-right {
  margin-left: 120px;
  margin-top: 80px;
}

.info-date {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
}

.info-date span {
  font-weight: bold;
}

.info-like {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid white;
  background-color: black;
  color: white;
  display: inline;
  padding: 8px 15px;
  opacity: 0.5;
}

/* News */

.news {
  margin-top: 80px;
  width: 100%;
  color: white;
}

.news-box {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.news-like {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid white;
  background-color: black;
  display: inline;
  padding: 8px 15px;
  opacity: 0.5;
}

.news-explore-button {
  position: absolute;
  font-weight: bold;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgba(2, 185, 170, 0.4);
  background-color: rgba(2, 185, 170, 0.4);
  text-align: center;
  padding: 10px 60px;
}

.news-date {
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.news-date span {
  font-weight: bold;
}

.col-3 {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}

.news-image {
  margin: 0 20px;
}

.news .button-holder {
  text-align: center;
  margin-top: 20px;
}

.button-holder a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: white;
  border: 2px solid rgb(0, 153, 133);
  background-color: rgb(0, 153, 133);
  padding: 8px 120px;
}

.news-box:before {
  content: '';
  display: block;
  padding-bottom: 150%;
}

/* subscribe */

.subscribe {
  margin-top: 80px;
  background-color: rgb(248, 245, 245);
  padding: 20px 70px;
}
.subscribe-title {
  font-size: 20px;
}
.subscribe-title span {
  font-weight: bold;
  font-size: 20px;
}

.subscribe-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input[type='text'] {
  margin: 0 20px;
  border: 1px solid black;
  height: 20px;
  padding: 20px;
}

.subscribe-button {
  border: 2px solid rgb(0, 153, 133);
  background-color: rgb(0, 153, 133);
  padding: 10px 15px;
  text-align: center;
}

.subscribe-button a {
  list-style: none;
  text-decoration: none;
  color: white;
}

/* Footer */

.footer {
  width: 100%;
}
.footer-wrap {
  display: flex;
}
.footer-left {
  width: 50%;
}
.footer-right-menu {
  width: 50%;
  display: inline-block;
}
.footer-right-menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.footer-right-menu a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

@media (max-width: 1817px) {
  .header-text {
    top: 26vw;
  }
}

@media (max-width: 1725px) {
  .header-text {
    top: 24vw;
  }
}

@media (max-width: 1600px) {
  .header-text {
    top: 22vw;
  }
}

@media (max-width: 1480px) {
  .header-text {
    top: 20vw;
  }
}

@media (max-width: 1378px) {
  .header-text {
    top: 17vw;
  }
}

@media (max-width: 1268px) {
  .header-text {
    top: 15vw;
  }
}

@media (max-width: 1178px) {
  .header-text {
    top: 13vw;
  }
}

@media (max-width: 1118px) {
  .header-text {
    top: 7vw;
  }
  .header-text-right br {
    display: none;
  }
}

@media (max-width: 1100px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header-text {
    top: 8vw;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -400px;
  }
  .col-3 {
    width: 50%;
  }
  .news-box {
    margin-bottom: 30px;
  }
}

@media (max-width: 1090px) {
  .header-text {
    top: 6vw;
  }
  .header-nav a {
    margin: 0 10px;
  }
}

@media (max-width: 1000px) {
  .header-text {
    top: 1vw;
  }
}
