$header-image: url(../img/m-h-day.jpg);

$font: Hind, Source Sans Pro, sans-serif;

$bg_color: white;
$text-color-black: #1E2D31;
$text-color-white: #FEFEFE;
$btn-color: #699904;
$underline-color: #417ca3;
$footer-bg-color: #232531;
$gradient-left: #6b9b05;
$gradient-right: #2f5397;

$map: #c3c4c1;