$header-image: url(../img/m-h-night.jpg);

$font: Hind, Source Sans Pro, sans-serif;

$bg_color: #21232F;
$text-color-black: #FEFEFE;
$text-color-white: #1E2D31; 
$btn-color: #E3AC00;
$underline-color: #CA5744;
$footer-bg-color: #393C4C;
$gradient-left: #E2AD0D;
$gradient-right: #CA5744;

$map: #c3c4c1;